html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rosarivo", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .swal2-popup {
  max-width: 380px !important;

} */

#swal2-title{
  font-family: 'PT Serif' !important;
}

.swal2-confirm{
  background-color: #f19335 !important;
  box-shadow: none !important;
}


.swal2-icon.swal2-question {
  border-color: #f19335 !important;
  color: #f19335 !important;
}
